:root {
  --color-white: #fff;
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-black: #1e1e1e;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(211, 197, 197, 0.39);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-blue-800: #007ff7;
  --app-color-white: rgb(252, 255, 251);
  --color-red: rgba(255, 2, 2, 0.788);
  --color-green: #11dd4e;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}

button,
input {
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  user-select: none;
  font-family: "Lexend", sans-serif;
  background: url("../background/background.png") center/cover no-repeat;
  overflow: hidden;
}




.navbar {
  width: 100%;
  padding: 0.1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-white-900);
  box-shadow: 0 2px 10px var(--color-black-100);
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  animation: top-to-bottom 0.3s;
}

.navbar > ul {
  display: flex;
  align-items: center;
}

.navbar li {
  position: relative;
  font-size: 14px;
  margin: 0 4px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.navbar .leftLi.logo img {
  transform: translateY(1px);
}

.navbar svg {
  fill: var(--color-white);
}

.navbar .leftLi {
  padding: 4px 8px;
}

.navbar .leftLi a {
  text-decoration: none;
  color: var(--color-white);
}

.navbar .leftLi:hover {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-200);
}

li.app_name {
  display: none;
  font-weight: 900 !important;
}

.navbar__right li {
  margin: 0 10px;
}

.navbar__right li svg {
  transform: scale(0.8);
}

.wifi svg {
  transform: translateY(1px) scale(0.8) !important;
}

.navbar__right .clock #clock {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar__right li .control-center {
  width: 32px;
  height: 19px;
  transform: scale(0.8) translateY(1px);
}

.navbar__right .battery {
  margin: 0;
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-radius: 4px;
  align-items: center;
  padding: 0.3rem 0.5rem;
  background: transparent;
  transition: all ease-out 0.2s;
}
.navbar__right .battery.selected {
  background: var(--color-white-200);
}

.navbar__right .battery__container {
  width: 22px;
  height: 10px;
  padding: 1px;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar__right .battery__container::after {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.navbar__right .battery__progress {
  height: 100%;
  display: flex;
  background: white;
  border-radius: 2px;
}

.navbar__right .battery__progress .is-charging {
  display: none;
  width: 100%;
  height: 100%;
}

.is-charging-visible {
  display: block !important;
}

.navbar__right .battery__low {
  background-color: var(--color-red);
}

.navbar__right .battery__high {
  background-color: var(--color-green);
}

.navbar__right .battery__text {
  font-size: 12px;
  margin-right: 4px;
}

.navbar__right .battery__popup {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  opacity: 0;
  width: 220px;
  transition: all ease-out 0.2s;
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border-radius: 8px;
}

.navbar__right .battery__popup.opened {
  opacity: 1;
}

.navbar__right .battery__popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar__right .battery__popup header h3 {
  font-size: 16px;
  font-weight: 600;
}

.navbar__right .battery__popup header span {
  opacity: 0.75;
  font-size: 12px;
}

.navbar__right .battery__popup p {
  font-size: 11px;
  margin-top: 4px;
  padding: 0 10px;
}

.navbar__right .battery__popup hr {
  margin: 6px 8px;
  border: 0;
  border-radius: 99px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar__right .battery__popup button {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  color: white;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.navbar__right .battery__popup button:hover {
  background-color: var(--color-blue-800);
}

.navbar__right .battery__popup button:active {
  background-color: #0063f7;
}