:root {
  --color-white: #fff;
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-black: #1e1e1e;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(211, 197, 197, 0.39);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-blue-800: #007ff7;
  --app-color-white: rgb(252, 255, 251);
  --color-red: rgba(255, 2, 2, 0.788);
  --color-green: #11dd4e;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}

button,
input {
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  user-select: none;
  font-family: "Lexend", sans-serif;
  background: url("./background/background.png") center/cover no-repeat;
  overflow: hidden;
}

#brightness-overlay {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  z-index: 1; 
  opacity: 0; 
  transition: opacity 0.2s ease;
}


.navbar {
  width: 100%;
  padding: 0.1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-white-900);
  background: rgba(248, 247, 247, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 20px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  animation: top-to-bottom 0.3s;
}

.navbar > ul {
  display: flex;
  align-items: center;
}

.navbar li {
  position: relative;
  font-size: 14px;
  margin: 0 4px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.navbar .leftLi.logo img {
  transform: translateY(1px);
}

.navbar svg {
  fill: var(--color-white);
}

.navbar .leftLi {
  padding: 4px 8px;
}

.navbar .leftLi a {
  text-decoration: none;
  color: var(--color-white);
}

.navbar .leftLi:hover {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-200);
}

li.app_name {
  display: none;
  font-weight: 900 !important;
}

.navbar__right li {
  margin: 0 10px;
}

.navbar__right li svg {
  transform: scale(0.8);
}

.wifi svg {
  transform: translateY(1px) scale(0.8) !important;
}
.navbar__right {
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}

.clock #clock {
  min-width: 58px;
  text-align: right
}

#date {
  min-width: 110px; 
  text-align: left;
}

.navbar__right .clock {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.datetime {
  display: flex;
  align-items: center;
  gap: 6px;
}


.navbar__right li .control-center {
  width: 32px;
  height: 19px;
  transform: scale(0.8) translateY(1px);
}

.navbar__right .battery {
  margin: 0;
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-radius: 4px;
  align-items: center;
  padding: 0.3rem 0.5rem;
  background: transparent;
  transition: all ease-out 0.2s;
}
.navbar__right .battery.selected {
  background: var(--color-white-200);
}

.navbar__right .battery__container {
  width: 22px;
  height: 10px;
  padding: 1px;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar__right .battery__container::after {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.navbar__right .battery__progress {
  height: 100%;
  display: flex;
  background: white;
  border-radius: 2px;
}

.navbar__right .battery__progress .is-charging {
  display: none;
  width: 100%;
  height: 100%;
}

.is-charging-visible {
  display: block !important;
}

.navbar__right .battery__low {
  background-color: var(--color-red);
}

.navbar__right .battery__high {
  background-color: var(--color-green);
}

.navbar__right .battery__text {
  font-size: 12px;
  margin-right: 4px;
}

.navbar__right .battery__popup {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  opacity: 0;
  width: 220px;
  transition: all ease-out 0.2s;
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border-radius: 8px;
}

.navbar__right .battery__popup.opened {
  opacity: 1;
}

.navbar__right .battery__popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar__right .battery__popup header h3 {
  font-size: 16px;
  font-weight: 600;
}

.navbar__right .battery__popup header span {
  opacity: 0.75;
  font-size: 12px;
}

.navbar__right .battery__popup p {
  font-size: 11px;
  margin-top: 4px;
  padding: 0 10px;
}

.navbar__right .battery__popup hr {
  margin: 6px 8px;
  border: 0;
  border-radius: 99px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar__right .battery__popup button {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  color: white;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.navbar__right .battery__popup button:hover {
  background-color: var(--color-blue-800);
}

.navbar__right .battery__popup button:active {
  background-color: #0063f7;
}

li > ul {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 100%;
  margin-top: 1px;
  font-weight: 600;
  padding: 4px;
  min-width: 200px;
  background: var(--color-white-400);
  backdrop-filter: blur(11px);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.363);
}

li:hover > ul {
  display: flex;
}

li > ul > li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  margin-bottom: 5px !important;
}

li > ul > li:last-child {
  border-bottom: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

li > ul > li > button {
  color: var(--color-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-weight: 100;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 80ms;
  font-size: 14px;
}

li > ul > li > button:hover {
  color: var(--color-white);
  background: var(--color-blue-800);
}

li > ul > li > button:active {
  background-color: #0063f7;
}

li > .menu__container {
  display: none;
  position: absolute;
  width: 380px;
  border-radius: 20px;
  top: 100%;
  right: 50%;
  height: 24rem;
  transform: translateX(50%);
  background-color: rgba(224, 222, 222, 0.349);
  backdrop-filter: blur(11px);
  border: 1px solid rgba(70, 50, 77, 0.308);
  box-shadow: 0 7px 15px rgba(26, 26, 26, 0.24);
  overflow: hidden;
  padding: 15px;
}

li:hover .menu__container {
  display: flex;
}

li > .menu__container > .grid__controling {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "Toggles Toggles DoNotDisturb DoNotDisturb"
    "Toggles Toggles KeyboardBrightness Battery"
    "Display Display Display Display"
    "Audio Audio Audio Audio"
    "Music Music Music Music";
  grid-gap: 1em 1em;
}
li > .menu__container > .grid__controling .control_center--grid {
  display: grid;
  box-shadow: 0 5px 15px rgba(44, 44, 44, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.178);
  overflow: hidden;
  border-radius: 12px;
}
.menu__container > .grid__controling .col-5 {
  grid-area: Toggles;
}
.menu__container > .grid__controling .col-7 {
  grid-area: DoNotDisturb;
}

.menu__container > .grid__controling .col-3--brightness {
  grid-area: KeyboardBrightness;
}
.menu__container > .grid__controling .col-3--battery {
  grid-area: Battery;
}

.menu__container > .grid__controling .col-12--light {
  grid-area: Display;
}
.menu__container > .grid__controling .col-12--volume {
  grid-area: Audio;
}
.menu__container > .grid__controling .col-12--music {
  grid-area: Music;
}

.grid__controling .control_center--grid button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  transition: all 120ms ease-in-out;
  font-family: "Lexend", sans-serif;
  cursor: url(../cursor/Link.cur), pointer;
}
.sound,
.brightness {
  position: relative;
}

.menu__container > .grid__controling input[type="range"] {
  -webkit-appearance: none;
  outline: 0;
  border: 0;
}
.sound img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translatey(-50%);
}
.brightness img {
  /* z-index: -1; */
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translatey(-50%);
}
.menu__container > .grid__controling input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-white);
  box-shadow: -2px 0px 3px -2px #5f6063, -340px 0 0 320px #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.226);
  cursor: pointer;
}

.grid__controling input[type="range"]::-webkit-slider-runnable-track {
  margin: 10px;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 50px;
  overflow: hidden;
}

.grid__controling .control_center--grid button p {
  display: block;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
}
.nobtn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.nobtn svg {
  background-color: transparent !important;
}

.grid__controling .control_center--grid button svg {
  background-color: var(--color-blue-800);
  padding: 5px;
  border-radius: 50%;
  margin: 0 5px;
}
.col-7 button svg {
  background-color: #b63333 !important;
}
.col-7 button:focus {
  background: #b63333 !important;
  color: var(--color-white);
}

.grid__controling .control_center--grid button:focus {
  background: var(--color-blue-800);
  color: var(--color-white);
}

.grid__controling .control_center--grid .musicPlayer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.musicPlayer--image {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.musicPlayer--image img {
  width: 50px;
  margin: 0 0 0 10px;
}
.musicPlayer--content {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.musicPlayer--content span {
  font-size: 40px;
}



.dock {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.2rem 0.5rem 0 0.5rem;
  bottom: 3%;
  left: 50%;
  height: 65px;
  background: rgba(248, 247, 247, 0.2);
  transform: translateX(-50%);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-white-200);
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.555);
  z-index: 10;
}


@media screen and (max-width: 900px) {
  .dock {
    border-radius: 20px;
  }
}

.dock .point {
  width: 6px;
  height: 6px;
  margin: 0;
  background: #f08080;
  border-radius: 50%;
  display: none;
  animation: top-to-bottom 0.3s;
  transition: 0.3s;
}

.dock .column {
  width: 1px;
  height: 45px;
  margin: 0 4px;
  background: var(--color-white-400);
}

.dock .icon {
  position: relative;
  display: grid;
  place-items: center;
  background: none;
  border: none;
  outline: none;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.dock .icon img {
  width: 3.6rem;
  transition: 0.2s;
  transform: translateY(-2.5px);
}

.dock .icon:hover img {
  margin: 0 0 30px 0;
  width: 6rem;
}

.dock .icon:hover + * img {
  width: 5rem;
  margin: 0 0 25px 0;
}

.dock .icon:has(+ *:hover) img {
  width: 5em;
  margin: 0 0 25px 0;
}

.dock .icon img:active {
  filter: brightness(0.6) drop-shadow(0 0 10px #2c2c2c);
}

.container__Window {
  width: 100%;
  height: 90%;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.window {
  display: none;
  min-width: 50%;
  max-width: 80%;
  height: 430px;
  overflow: hidden;
  border-radius: 1rem;
  background: transparent;
  box-shadow: 0 20px 30px var(--color-black-500);
  border: 1px solid #ffffff34;
  animation: zoom-out 0.3s;
  z-index: 10;
  touch-action: none;
}

.window__taskbar {
  height: 12%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--app-color-white);
}
.window__taskbar--actions {
  display: flex;
  align-items: center;
}

.window__taskbar:hover button::after {
  color: #000;
}

.window__taskbar--actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  padding: 8px;
  border-radius: 50%;
  transition: 0.4s;
}

.window__taskbar--actions button:not(:last-child) {
  margin-right: 8px;
}

.window__taskbar--actions button:nth-child(1) {
  background-color: #ff5f56;
  box-shadow: 0 0 0 0.5px #e0443e;
}

.window__taskbar--actions button::after {
  display: block;
  font-size: 14px;
  color: transparent;
  font-weight: 900;
}

.window__taskbar--actions button:nth-child(1)::after {
  content: "×";
}

.window__taskbar--actions button:nth-child(1):hover {
  background-color: #fc3c32;
}

.window__taskbar--actions button:nth-child(2) {
  background-color: #ffbd2e;
  box-shadow: 0 0 0 0.5px #dea123;
}

.window__taskbar--actions button:nth-child(2)::after {
  content: "−";
}

.window__taskbar--actions button:nth-child(2):hover {
  background-color: #ffa600;
}

.window__taskbar--actions button:nth-child(3) {
  background-color: #27c93f;
  box-shadow: 0 0 0 0.5px #1aab29;
}

.window__taskbar--actions button:nth-child(3)::after {
  content: "⤡";
}

.window__taskbar--actions button:nth-child(3):hover {
  background-color: #12aa29;
}

.window__taskbar--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window__taskbar--content h2 {
  color: var(--color-black);
  font-weight: 600;
  font-size: 18px;
}

.Customize__icon span {
  border: 1px solid rgba(204, 200, 200, 0.412);
  border-radius: 9px;
  transition: 0.2s;
  padding: 5px;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}


::-webkit-scrollbar-button {
  display: none;
}

@keyframes to-top-bottom {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(-21px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.desktop-window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 60vw;      /* tamaño mínimo razonable al abrir */
  max-width: 90vw;
  min-height: 60vh;     /* evita que quede pequeñísimo */
  max-height: 90vh;
  transform: translate(-50%, -50%);
  resize: both;
  overflow: auto;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 30px var(--color-black-500);
  backdrop-filter: none;
  animation: zoom-out 0.3s;
  z-index: 15;
}

.app-window {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  background: #111;
}


.hidden {
    display: none !important;
}





