
body {
    margin: 0;
    padding: 30px;
    background: linear-gradient(to left, #121214, darkgray);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.03);
    box-shadow: 0 18px 40px rgba(0,0,0,0.18);
}


.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(to right ,gray, black); 
    padding: 12px 20px;
    color: white;
    gap: 20px;
    border-radius: 14px;
    margin-bottom: 25px;
    box-shadow: 0 6px 22px rgba(0,0,0,0.35);
}

.window-controls {
    display: flex;
    gap: 8px;
}

.window-controls span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close { background: #ff5f56; }
.minimize { background: #ffbd2e; }
.maximize { background: #27c93f; }

.window-controls span:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: opacity .2s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}

.gallery img {
    width: 100%;
    height: 240px;    
    object-fit: cover; 
    border-radius: 18px;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}
